{:http {:host       #or [#env HOST "127.0.0.1"]
        :domain     #or [#env DOMAIN "http://localhost:4242"]
        :port #long #or [#env PORT "4242"]}

 :storage-dir  #or [#env STORAGE_DIR "storage"]}